$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1023px
) !default;


$colorhelp:#767676;
$colornumb:#423655;
$colorsearch:#767676;
$colorbag:#555555;
$colorline:#d9d9d9;
$backgrfooter:#f1f1f1;
