@import"_normalize.scss";
@import"_fonts.scss";
@import"_variables.scss";
@import"_mixins.scss";

.wraper{
  padding: 0px calc(50vw - 625px);
  position: relative;
  // width: 100vw;
}
 .menu-v{
   position: absolute;
   width: 70px;
   height: 100px;
   background-color: grey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   right: 0;
   top: 10%;
  //  z-index: 10;
   &__bag{
     font-size: 40px;
   }
 }
.click{
  position: absolute;
  right: -10%;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  height: 100%;
  transition: 1s;
  &-block1{
    background-color: white;
    height: 100%;
    width: 80%;
  }
  &-block2{
    background-color: grey;
    color: white;
    width: 20%;
    height: 100%;
    &__item{
      cursor: pointer;
    }
  }
}
.click-v{
  left: 0;
}
.help{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  &-block{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__item{
      font-family:"LatoReg";
      color:$colorhelp;
      font-size: 10px;
    }
  }
  &-number{
    font-family:"LatoReg";
    color:$colornumb;
    font-size: 17px;
  }
}

.header{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 30px;
@include respond-to("sm") {
  flex-direction: column;
}
&-search{
  box-sizing: border-box;
  border: 1px solid $colorsearch;
  max-width: 490px;
  max-height: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  &__item{
    border: none;
    outline: none;
    padding: 0px 15px;
    flex-grow: 1;
    box-sizing: border-box;
  }
}
&-bag{
  max-width: 155px;
  max-height: 55px;
  width: 100%;
  height: 100%;
  &-up{
    display: flex;
    align-items: flex-end;
    &__img{
      font-size: 35px;
    }
    &__text{
      margin: 0 5px;
      font-family:"LatoReg";
      color:$colorbag;
      font-size: 10px;
    }
  }
  &__text{
    font-family:"LatoReg";
    color:$colorbag;
    font-size: 10px;
    margin: 5px 0 ;
  }
}
}

.iconsearch{
  color: $colorhelp;
  margin-right: 6px;
  font-size: 13px;
}

.nav{
  margin-top: 3%;
  font-size: 13px;
  &-menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    @include respond-to("sm") {
      flex-direction: column;
    }
    &:hover .nav-menu-hover{
      opacity: 1;
    }
    &__item{
      list-style: none;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family:"LatoReg";
      font-weight: 900;

      }
    }
  }

.menu__item{
  margin-left: 5px;
}


.nav-menu-hover{
  position:absolute;
  z-index:2;
  bottom:85%;
  max-width: 1233px;
  width: 100%;
  background: sandybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // transform: scaleY(0);
  // transform-origin: 0 0;
  opacity:0;
  &-block{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: 10px 100px;
  &__item{
    font-family:"LatoReg";
    color:$colorbag;
    font-size: 10px;
    margin-top: 10px;
    list-style: none;
    &:hover{
      color:red;
    }
  }
  }
}
  
// .slider-trainer{
//   max-width: 1140px;
// }

.slick-arrow{
  position: absolute;
  z-index: 2;
  top: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
}
.slick-prev{
  left: 10px;
  background: url("../svg/sl-arrow_le.svg") 0 0 / 200% no-repeat;
}
.slick-next{
  right: -15px;
  background: url("../svg/sl-arrow_ri.svg") 0 0 / 200% no-repeat;
}
.slider-block__img{
  margin: 0 auto;
  width: 100%;
}

.picture{
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  @include respond-to("sm") {
    flex-direction: column;
  }
}

.text{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family:"LatoReg";
  color:black;
  &__shop{
    font-size: 12px;
    margin: 0;
  }
  &__motto{
    font-size: 17px;
    margin: 30px 0 60px 0;
  }
}

.tab{
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  &-btn{
    display: flex;
    max-width: 350px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 17px;
    font-family:"Lato";
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    &__item{
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
  }
  &-line{
    width: 90%;
    height: 3px;
    background-color: $colorline;
    margin-bottom: 110px;
  }
  &-content{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // grid-column-gap: 0px;
    grid-row-gap: 90px;
    // height: 460px;
    // text-align: center;
    margin-bottom: 140px;
    &-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family:"Lato";
      color:black;
      font-size: 16px;
      height: 330px;
      &__img{
        width: 170px;
        height: 200px;
        margin-bottom: 50px;
      }
      &__title{
        // font-family:"Lato";
        // color:black;
        // font-size: 16px;
      }
      &__price{
        margin-top: 10px;
        color: red;
        font-weight: 900;
      }
      &__hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: 0.4s;
      }
      &-add{
        opacity: 0;
        transition: 0.5s;
        background: red;
        width: 100%;
        color: white;
        text-align: center;
        height: 40%;
      }
      &:hover{
        box-shadow: 0 0 10px rgb(0, 0, 0);
        .tab-content-block__hover{
          background-color: rgb(219, 213, 213);
        }
        .tab-content-block-add{
          opacity: 1;
        }
      }
    }

  }
  &-btn__down{
    margin: 90px auto ;
    border: 2px solid black;
    outline: none;
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 98%;
    width: 110px;
    height: 40px;
    text-transform: uppercase;
    font-family:"Lato";
    color:black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      background: rgb(2, 0, 116);
      color: white;
      border: none;
    }
  }
}



.tab-items{
  display: none;
}
.tab-items.active{
  display: block;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $backgrfooter;
  height: 100%;
  &-block{
    width: 230px;
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family:"Lato";
    color:black;
    font-size: 12px;
    margin: 25px 0 20px 50px;
    &__icon{
      position: absolute;
      left: -40px;
      font-size: 30px;
    }
    &__title{
      text-transform: uppercase;
      margin-bottom: 23px;
    }
    &__description{
      margin: 0;

    }

  }
}

.tab-color{
  color: red;
}